.main {
    align-items: center;
    background: url('../../public/assets/bg-main.webp') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 600px;
    padding-bottom: 160px;
    padding-top: 160px;
    position: relative;
}

.main::before {
    align-items: center;
    background-color: white;
    content: '';
    height: 100%;
    left: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%;
}

.main>.content {
    position: relative;
}

.main>.content>.title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.main>.content>.title>p {
    color: var(--primary-color);
    text-align: center;
}

.main>.content>.title>p:first-child {
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}

.main>.content>.title>p:not(:first-child) {
    font-size: 20px;
    line-height: 36px;
}

.main>.content>.title>p>span {
    font-weight: 600;
}